@model HF_Application.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-8 offset-md-2 col-12 welcomediv">
    <h1 class="text-center">The Haarlem Festival!</h1>
    <div class="text-center">
        <a class="btn btn-info btn-block login">@Html.ActionLink("If You don not have an account, register here!", "Registration", new { @class = "btn btn-info btn-block login" })</a>
    </div>
</div>


<div class="container">
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div class="form-box">
            @using (Html.BeginForm())
            {
                @*<form>*@
                <div class="divlogininput">
                    @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "user", placeholder = "username" } })
                    @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })

                </div>

                <div class="divlogininput">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "user", placeholder = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                </div>


                @*<input name="user" type="text" placeholder="username">
                    <input type="password" placeholder="password">*@
                @*<button class="btn btn-info btn-block login" type="submit">Login</button>*@
                <input type="submit" value="Log In" class="btn btn-info btn-block login" />
                @*</form>*@
            }
        </div>
    </div>

</div>


