@model HF_Application.Models.ViewModel.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}


<body id="homePage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-12 welcomediv">
                <h1 class="text-center">Welcome to Haarlem Festivals!</h1>
                <p class="welcometext">
                    The Haarlem Festival has a wider palette to inspire an even more diverse audience. The Haarlem Festival will be summer festival, held in july/august (dates to be announced) and especially targeted
                    (although not exclusively) towards an international audience (tourists coming over for Holiday in the Netherlands).
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row homeJazzRow">
            <div class="text-center col-12" style="font-weight:bolder; font-size:4rem;">HEAR</div>
            @foreach (var events in Model.jazzEvents)
        {
            <div class="col-sm-3">
                <div class="jazzDiv">

                    <div class="col-md-12">
                        <img class="jazzImage" src="@Url.Content("~/Content/images/events/" + events.imagePath)" alt="Image of @events.Band" />
                    </div>

                    <div class="col-md-12 text-center"><h1 class="jazzName">@events.Band</h1></div>

                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <div>
                                <h2>Date</h2>
                            </div>
                            @events.StartDate.ToShortDateString()
                        </div>

                        <div class="col-sm-6 text-center">
                            <div>
                                <h2>Time</h2>
                            </div>
                            @events.StartDate.ToShortTimeString() - @events.EndDate.ToShortTimeString()
                        </div>

                        <div class="col-md-12 col-12 text-center tastebuttoncol">

                            @Html.ActionLink("More information", "../Hear/Details", new { id = events.ID }, new { @class = "jazzBtn btn btn-info" })

                        </div>

                    </div>
                </div>
            </div>
    }
        </div>
        <br />

        <div class="row homeJazzRow">
            <div class="text-center col-12" style="font-weight:bolder; font-size:4rem;">TASTE</div>
            @foreach (var events in Model.restoList)
        {
            <div class="col-sm-3">
                <div class="jazzDiv"style="background-color: #910000 !important;">

                    <div class="col-md-12">
                        <img class="jazzImage" src="@Url.Content("~/Content/images/events/" + events.imagePath)" alt="Image of @events.RestaurantName" />
                    </div>

                    <div class="col-md-12 text-center"><h1 class="jazzName">@events.RestaurantName</h1></div>

                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div>
                                <h2>Address:</h2>
                            </div>
                           @events.Location.Address
                        </div>
                        </div>

                        <div class="col-md-12 col-12 text-center tastebuttoncol">

                            @Html.ActionLink("More information", "../Taste/Details", new { id = events.Id }, new { @class = "jazzBtn btn btn-info" })

                        </div>

                    </div>
                </div>
    }
        </div>
        <br />

        <div class="row homeJazzRow">
            <div class="text-center col-12" style="font-weight:bolder; font-size:4rem;">TALK</div>
            @foreach (var events in Model.talkList)
        {
            <div class="col-sm-3">
                <div class="jazzDiv" style="background-color: #B28523 !important;">

                    <div class="col-md-12">
                        <img class="jazzImage" src="@Url.Content("~/Content/images/events/" + events.ImagePath)" alt="Image of @events.Interview" />
                    </div>

                    <div class="col-md-12 text-center"><h1 class="jazzName">@events.Interview</h1></div>

                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <div>
                                <h2>Date</h2>
                            </div>
                            @events.StartDate.ToShortDateString()
                        </div>

                        <div class="col-sm-6 text-center">
                            <div>
                                <h2>Time</h2>
                            </div>
                            @events.StartDate.ToShortTimeString() - @events.EndDate.ToShortTimeString()
                        </div>

                        <div class="col-md-12 col-12 text-center tastebuttoncol">

                            @Html.ActionLink("More information", "Talks/Talk1", new { id = events.ID }, new { @class = "jazzBtn btn btn-info" })

                        </div>

                    </div>
                </div>
            </div>
    }
        </div>
    </div>
</body>
