@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")
{
    <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
}
else if (Model.IsClickable)
{
    if (string.IsNullOrEmpty(Model.Description))
    {
        <li class="breadcrumb-item"><a href="@Model.Url">@Model.Title</a></li>
    }
    else
    {
        <li class="breadcrumb-item"><a href="@Model.Url" title="@Model.Description">@Model.Title</a></li>
    }
} else
{ 
    <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
}
