@model HF_Application.Models.ViewModel.RestaurantDetailModel


@{
    ViewBag.Title = "Talk1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="DinerDetail">
    <h1 class="text-center"> Detail Page </h1>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="co-md-8">
                    <img src="@Url.Content("~/Content/images/" + @Model.restaurant.imagePath)" alt="Image of   />
                </div>
                <div class="text-center">
                    <h5>@Model.restaurant.RestaurantName.ToString()</h5>
                </div>
                <div class="text-center">
                    <h5></h5>
                </div>
            </div>


            <div class="col-md-4 form_reservering">
                <div class="form-group">
                    <h3> Choose Datetime!</h3>
                    <div class="custom-controls-stacked">
                    </div>
                    <div class="text-center">
                        <a>@Html.ActionLink("Buy", "Talk1", 0, new { @class = "btn btn-info" })</a>
                        <a>@Html.ActionLink("Add to WishList", "Talk1", 0, new { @class = "btn btn-info" })</a>
                    </div>
                </div>

                </div>

        </div>


        <div class="row cross-talk">
            <div class="text-center">
                <h3> Take a look to other events</h3>
            </div>
            <hr />

        </div>

    </div>


</body>



