@model HF_Application.Models.ViewModel.RestaurantDetailModel


@{
    ViewBag.Title = "Talk1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="DinerDetail">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row" style="padding-top:30px;">
                    <div class="col-md-6">
                        <img style="width:100%;" src="@Url.Content("~/Content/images/events/" + @Model.restaurant.imagePath)" alt="Image of" />
                    </div>

                    <div class="col-md-6 text-center">
                        <h2>@Model.restaurant.RestaurantName.ToString()</h2>
                        <h3>@Model.restaurant.Location.Address.ToString()</h3>
                    </div>
                </div>
                <hr />
            </div>


            <div class="col-md-4 form_reservering">
                <div class="form-group">
                    <h3>Make reservation or add to your shopping bag</h3>
                    <hr />
                    @using (Html.BeginForm("Reservation", "Taste", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Choose date and time</h2>
                            @Html.DropDownListFor(b => b.selectDinerId, Model.DinerEvents, new { @class = "dropdownrest" })
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h2>Persons</h2>
                            @Html.DropDownListFor(b => b.selectPersons, Model.NumberPersons)
                        </div>

                        <div class="col-md-9">
                            <h2>Comments</h2>
                            @Html.TextAreaFor(b => b.comments, new { @class = "textareataste" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Price p.p. @Model.diner.ReducedPrice.ToString() euro
                        </div>
                        <div class="col-md-6">
                            Pay here 10 euro
                        </div>
                        <div class="col-md-12">
                            Example: Event price €22,50 - €10 reservationpayment= €12,50 payment in the restaurant
                        </div>
                    </div>

                    <input style="background:black; color:white; border:0px; width: 100%; margin-top:15px;" type="submit" name="action:addShoppingBag" value="Add to Shoppingbag" />
                    <input style="background:black; color:white; border:0px; width: 100%; margin-top:15px;" type="submit" name="action:addWhishList" value="Add to Wishlist" />

            }
                    <div class="custom-controls-stacked">
                    </div>
                </div>

            </div>

        </div>


        <div class="row cross-talk">
            <div class="cross1 col-lg-6">
                <h3 class="text_form"> Take a look at our other Talks!</h3>

                <hr />

                @foreach (var talkEvent in Model.CrossTalkEvents)
                {
                    <div class="col-lg-6 " style="float:left; width:100%">

                    <div class="Talkdiv">

                        <h5 class="text-center interviewName">@talkEvent.Interview</h5>

                        <img class="talkImage2" src="@Url.Content("~/Content/images/events/" + talkEvent.ImagePath)" alt="Image of @talkEvent.Interview" />


                        <div class="text-center">
                            <a>@Html.ActionLink("More Information", "Talk1", new { id = talkEvent.ID }, new { @class = "btn btn-info" })</a>
                        </div>


                    </div>
                </div>
                }

            </div>


            <div class="cross2 col-lg-6">
                <h3 class="text_form"> Or visit our restaurants!</h3>
                <hr />

           @foreach (var talkEvent in Model.HearCrossEvents)
            {<div class="col-lg-6 " style="float:left; width:100%; height:110%">

                    <div class="Talkdiv" style="background-color: rgba(189, 23, 23, 0.91)">

                        <h5 class="text-center interviewName">@talkEvent.CartTitle Haarlem City</h5>

                        <img class="talkImage2" src="@Url.Content("~/Content/images/events/" + talkEvent.imagePath)" alt="Image of @talkEvent.CartTitle" />


                        <div class="text-center">
                            <a>@Html.ActionLink("More Information", "Details", "Taste", new { id = talkEvent.ID }, new { @class = "btn btn-info" })</a>
                        </div>


                    </div>
                </div>
        }

            </div>

        </div>

    </div>


</body>



