@model HF_Application.Models.ViewModel.RestaurantModel

@{
    ViewBag.Title = "Diner";
}
<body id="Diner">
    <div class="container">
        <div class="col-md-8 offset-md-2 col-12 welcomediv">
            <h1 class="text-center">Taste Haarlem Now!</h1>
        </div>
        <div class="row restaurantnavigation">
            <div class="col-md-12 col-12 text-center">
                @Html.ActionLink("Summary", "index", new { id = (int?)null }, new { @class = "DinerNavigationButton" })

                @foreach (var foodtype in Model.ListOfFoodtypes)
                {
                    @Html.ActionLink(foodtype.Naam, "index", new { id = foodtype.Id }, new { @class = "DinerNavigationButton" })
                }
                
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            @foreach (var restaurant in Model.Restaurants)
            {

                <div class="col-lg-4 col-md-4 col-sm-6 col-xl-3">
                    <div class="restaurantdiv">
                        <div class="col-md-12">
                            <img class="restaurantImage" src="@Url.Content("~/Content/images/events/"+restaurant.imagePath)" alt="IMAGES" />
                        </div>
                        <div class="col-md-12 text-center"><h1 class="RestaurantName">@restaurant.RestaurantName</h1></div>
                        <div class="row" style="padding-top:15px;">
                            <div class="col-md-6 text-center">
                                <div class="col-md-12">
                                    <h2>Foodtypes</h2>
                                </div>
                                <div>
                                    @foreach (var foodtypes in restaurant.FoodTypes)
                                    {
                                        IHtmlString tekst = new HtmlString("<text class='foodtypesretaurant text-center'>" + foodtypes.Foodtype.Naam + "</text>");
                                        @Html.Raw(tekst)
                                    }
                                </div>
                          
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12 text-center">
                                    <h2>Address</h2>
                                </div>
                                @restaurant.Location.Address
                            </div>
                            <div class="col-md-12 col-12 text-center tastebuttoncol">
  
                                    @Html.ActionLink("More information", "Details", new { id = restaurant.Id }, new { @class = "btn btn-info btn-block login " })

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>