@model HF_Application.Models.ViewModel.TalksModel

@{
    ViewBag.Title = "Talking Haarlem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="Talk">

    <div class="col-md-8 offset-md-2 col-12 welcomediv">
        <h1 class="text-center">Talking Haarlem!</h1>
        <h5 class="text-center">Free Tickets You can only book two tickets & These talks will be in Dutch! </h5>
    </div>

    <div class="container-fluid">

        <div class="row" style="margin-left:3%; margin-right:3%;">

            @foreach (var talkEvent in Model.AllTalkEvents)
            {
                <div class="col-md-4">

                    <div class="Talkdiv">


                        <div class="text-center">
                            <img class="talkImage1" src="@Url.Content("~/Content/images/events/" + talkEvent.ImagePath)" alt="Image of @talkEvent.Interview" />
                        </div>
                        <div class="text-center interviewName" style="height:60px;">
                            <h4 class="text-center" style="color:white; font:bold; padding-left:8px; padding-right:8px;">@talkEvent.Interview</h4>
                        </div>
                        <br />
                        <div class="text-center">
                            <h6 class="text-center" style="color:black; font:bold; padding-left:8px; padding-right:8px;">@talkEvent.StartDate.DayOfWeek</h6>
                        </div>
                        <div class="text-center">
                            <h6 style="color:black"><span style="font:bold; color:white;">Date:</span>@talkEvent.StartDate.ToShortDateString()<span style=" font:bold; color:black;">  Time:</span>@talkEvent.StartDate.ToShortTimeString()</h6>

                            <h6 style="color:black"><span style="color:white; font:bold;">Adres:</span>@talkEvent.Location.Address</h6>
                        </div>
                        <div class="text-center">
                            @foreach (var item in Model.SalesList)
                            {

                                if (item.Id == talkEvent.ID)
                                {

                                    <h6 style="color:black"><span style="color:white; font:bold;">Seats left:</span> @(item.Seats - item.SeatsSold)</h6>

                                }

                            }


                        </div>


                        <div class="text-center">
                            <a>@Html.ActionLink("More information", "Talk1", new { id = talkEvent.ID }, new { @class = "btn btn-info btn-block login" })</a>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>


</body>