@model HF_Application.Models.ViewModel.TalksModel

@{
    ViewBag.Title = "Talking Haarlem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="Talk">

    <div class="col-md-8 offset-md-2 col-12 welcomediv">
        <h1 class="text-center">Talking Haarlem!</h1>
        <h5 class="text-center">Free Tickets You can only book two tickets & These talks will be in Dutch! </h5>
    </div>

    <div class="container-fluid">

        <div class="row" style="margin-left:3%; margin-right:3%;">

            @foreach (var talkEvent in Model.AllTalkEvents)
            {
                <div class="col-md-4">

                    <div class="Talkdiv">


                        <div class="text-center">
                            <img class="talkImage1" src="@Url.Content("~/Content/images/events/" + talkEvent.ImagePath)" alt="Image of @talkEvent.Interview" />
                        </div>
                        <div class="text-center interviewName">
                            <h4 class="text-center" style="color:white; font:bold; padding-left:10%; padding-right:10%;">@talkEvent.Interview</h4>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <div class="col-md-4 text-center">
                                <h2>Date</h2>
                                @talkEvent.StartDate.DayOfWeek @talkEvent.StartDate.ToString()
                            </div>
                            <div class="col-md-4 text-center">
                                <h2>Address</h2>
                                @talkEvent.Location.Address
                            </div>
                            <div class="col-md-4 text-center">
                             @foreach (var item in Model.SalesList)
                            {

                                if (item.Id == talkEvent.ID)
                                {

                                    <h2 style="color:white"><span style="color:white; font:bold;">Seats left<br /></span> @(item.Seats - item.SeatsSold)</h2>

                                }

                            }

                            </div>
                        </div>

                        <div class="text-center" style="padding:10px;">
                            <a>@Html.ActionLink("More information", "Talk1", new { id = talkEvent.ID }, new { @class = "jazzBtn btn btn-info" })</a>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>


</body>