@model HF_Application.Models.ViewModel.TalksModel

@{
    ViewBag.Title = "Talk1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="text-center">
        <h1 style="color:black"><strong>@Model.CurrentTalk.Interview</strong></h1>
    </div>
    @using (Html.BeginForm("AddToCart", "Cart", new { eventid = Model.CurrentTalk.ID, userid = Convert.ToInt32(Session["UserId"]), prijs =Model.CurrentTalk.TicketPrice }))
    {


        <div class="container">

            <div class="card">
                <div class="container-fliud">
                    <div class="wrapper row">
                        <div class="preview col-md-6">
                            <div class="preview-pic tab-content">
                                <div class="tab-pane active" id="pic-1"><img src="@Url.Content("~/Content/images/events/" + Model.CurrentTalk.ImagePath)" alt="Image of @Model.CurrentTalk.Interview" /></div>

                                <Strong class="text_form" style="color:#808080">You can ask our guests questions here: </Strong><br />
                                <input style="height:100px; color:#808080" class="form-control" type="text" name="Question" placeholder="Please Type Your Question Here And It Will Be Saved With Your Order....." />
                            </div>
                        </div>
                        <div class="details col-md-6">
                            <div class="panel panel-default text-center">
                                <div class="panel-title" style="color:#808080; "><span class="glyphicon glyphicon-list-alt"></span>   Name</div>
                                <hr>
                                <h4 style="color:black">@Model.CurrentTalk.Interview</h4>
                            </div>
                            <div class="panel panel-default text-center">
                                <div class="rating">
                                    <div style="color:#808080" class="panel-title"><span class="glyphicon glyphicon-info-sign"></span>  Category</div>
                                    <hr>
                                    <h4 style="color:black">@Model.CurrentTalk.CartTitle</h4>
                                </div>
                            </div>
                            <div class="panel panel-default text-center">
                                <div style="color:#808080" class="panel-title"><span class="glyphicon glyphicon-comment"></span>   Description</div>
                                <hr>
                                <h6 class="text-left" style="color:black; padding-left:8px; padding-right:8px; white-space:pre-line">@Model.CurrentTalk.ReservationInfo</h6>
                            </div>
                            <div class="panel panel-default text-center">
                                <div style="color:#808080" class="panel-title"><span class="glyphicon glyphicon-credit-card"></span>  Price</div>
                                <hr>
                                <font color="black">Free tickets! </font>
                            </div>
                            <div class="panel panel-default text-center">
                                <div style="color:#808080" class="panel-title"><span class="glyphicon glyphicon-scissors"></span>Amount Tickets</div>
                                <hr>
                                <span style="color:#808080" class="input-group-addon">
                                    <select id="beden" class="form-control" name="aantal">
                                        <option value="1">1</option>
                                        <option value="2">2</option>

                                    </select>
                                </span>
                                <br>
                            </div>
                            <div class="text-center">
                                <input type="submit" value="Add to Cart" class="btn btn-info btn-block login">
                                <a href="#popup1" class="btn btn-info btn-block login">Buy Direct</a>
                                @*<a>@Html.ActionLink("Buy Direct", "PlaceOrder", new { id = @Model.CurrentTalk.ID }, new { @class = "btn btn-info" })</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }


    @*//popup voor direct bestellen*@


    <div id="popup1" class="overlay">
        <div class="popup2">
            <h2>Almost Done!</h2>
            <a class="close" href="#">&times;</a>

            <div class="container text-center" style="background-color:#808080; width:60%;">
                <div class="row">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Payment Details
                                </h3>
                                <div class="checkbox pull-right">
                                    <label>
                                        <input type="checkbox" />
                                        Remember
                                    </label>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="cardNumber">
                                            CARD NUMBER
                                        </label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                                   required autofocus />
                                            <input type="text" class="form-control" id="cardNumber" placeholder="Enter your Email Adress"
                                                   required autofocus />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7 col-md-7">
                                            <div class="form-group">
                                                <label for="expityMonth">
                                                    EXPIRY DATE
                                                </label>
                                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                                    <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                                                </div>
                                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                                    <input type="text" class="form-control" id="expityYear" placeholder="YY" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-md-5 pull-right">
                                            <div class="form-group">
                                                <label for="cvCode">
                                                    CV CODE
                                                </label>
                                                <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <br />
                        <a href="#" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <br>
    <br>
    @*cross selling van hier!*@
    <div class="container">
        <div class="text-center" style="color:black"> <h3>Take A Look To Our Other Events!</h3></div>
        <div class="card">

            <div class="row">
                <div class="col-md-6">

                    @foreach (var talkEvent in Model.CrossTalkEvents)
                    {<div class="col-lg-6 " style="float:left; width:100%">

                            <div style="background-color:#9C6910">


                                <div class="text-center">  <h5>@talkEvent.Interview</h5></div>

                                <img class="talkImage2" src="@Url.Content("~/Content/images/events/" + talkEvent.ImagePath)" alt="Image of @talkEvent.Interview" />


                                <div class="text-center" style="margin-bottom:5px;">  <a>@Html.ActionLink("More Information", "Talk1", new { id = talkEvent.ID }, new { @class = "btn btn-info login" })</a></div>




                            </div>
                        </div>
                    }

                </div>
                <div class="col-md-6">

                    @foreach (var talkEvent in Model.RestaurantsCross.Take(2))
                    {<div class="col-lg-6 " style="float:left; width:100%; height:110%">

                            <div style="background-color: rgba(189, 23, 23, 0.91)">
                                <div class="text-center">  <h5 class="text-center">@talkEvent.RestaurantName In Haarlem City</h5>  </div>


                                <img class="talkImage2" src="@Url.Content("~/Content/images/events/" + talkEvent.imagePath)" alt="Image of @talkEvent.RestaurantName" />


                                <div class="text-center" style="margin-bottom:5px;">
                                    <a>@Html.ActionLink("More Information", "Details", "Taste", new { id = talkEvent.Id }, new { @class = "btn btn-info login" })</a>
                                </div>



                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

</body>