@model HF_Application.Models.ViewModel.TalksModel

@{
    ViewBag.Title = "Talk1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="Talk1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                @foreach (var talkEvent in Model.AllTalkEvents)
            {
                    <div class="text-center" style="margin-top:10px;">
                        <h5 class="interviewName" style="border-bottom:none;">@talkEvent.Interview</h5>
                    </div>

                    <div class="co-md-4">
                        <img class="img-rounded" style="border:1px solid black" src="@Url.Content("~/Content/images/" + talkEvent.ImagePath)" alt="Image of @talkEvent.Interview" />

                    </div>

                    <strong class="text_form " style="white-space:pre-line;"> @talkEvent.ReservationInfo </strong>
                }

            </div>


            <div class="col-md-4 form_reservering">
                <form>
                    <div class="form-group">
                        <div class="text-center text_form"><h3> Make a reservation!</h3></div>

                        @foreach (var talkEvent in Model.AllTalkEvents)
                        {
                            <h5>@talkEvent.Interview</h5>

                            <label><strong class="text_form">Date and Time:</strong> @talkEvent.StartDate </label>
                            <label class="control-label"> <strong style="color:black">Where:</strong>@talkEvent.Location.Address </label>

                            <hr />
                            <Strong class="text_form">Aantal: </Strong><br />

                            <input type="radio" name="1" checked /><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span>1 Teckit</span>
                            <input type="radio" name="1" checked /><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span>2 Teckits</span>
                            <hr />
                                <Strong class="text_form">You can ask our guests questions here: </Strong><br />
                                <input type="text" name="Ask" class="form-control form-control-md" placeholder="Type Your Question Here" />

                                <hr />
                                <p class="text_form">Price: 0 Euro</p>

                                <hr />
                                <div class="text-center">
                                    <a>@Html.ActionLink("Buy", "Talk1", new { id = talkEvent.ID }, new { @class = "btn btn-info" })</a>
                                    <a>@Html.ActionLink("Add to WishList", "Talk1", new { id = talkEvent.ID }, new { @class = "btn btn-info" })</a>
                                </div>

                        }

                    </div>
                </form>

            </div>

        </div>


        <div class="row cross-talk">
            <div class="cross1 col-lg-6">
                <h3 class="text_form"> Take a look at our other Talks!</h3>

                <hr />

                @foreach (var talkEvent in Model.CrossTalkEvents)
            { <div class="col-lg-6 " style="float:left; width:100%">

                    <div class="Talkdiv" style=" background-color:rgba(145,0,0,0.85);">

                        <h5 class="text-center interviewName">@talkEvent.Interview</h5>

                        <img class="talkImage2" src="@Url.Content("~/Content/images/" + talkEvent.ImagePath)" alt="Image of @talkEvent.Interview" />


                        <div class="text-center">
                            <a>@Html.ActionLink("More Information", "Talk1", new { id = talkEvent.ID }, new { @class = "btn btn-info" })</a>
                        </div>


                    </div>
                </div>
                }

            </div>


            <div class="cross2 col-lg-6">
                <h3 class="text_form"> Or visit our restaurants!</h3>
                <hr />

                @foreach (var talkEvent in Model.RestaurantsCross.Take(2))
            { <div class="col-lg-6 " style="float:left; width:100%; height:110%">

                    <div class="Talkdiv" style=" background-color:rgba(145,0,0,0.85);">

                        <h5 class="text-center interviewName">@talkEvent.RestaurantName Haarlem City</h5>

                        <img class="talkImage2" src="@Url.Content("~/Content/images/" + talkEvent.imagePath)" alt="Image of @talkEvent.RestaurantName" />


                        <div class="text-center">
                            <a>@Html.ActionLink("More Information","Details","Taste", new { id = talkEvent.Id }, new { @class = "btn btn-info" })</a>
                        </div>


                    </div>
                </div>
                }

            </div>

        </div>
    </div>
</body>