@model List<HF_Application.Models.DateList>

@{
    ViewBag.Title = "Hear";
}
<div class="row">
    <div class="col-sm-6">
        <a class="btn admin-btn" href="">
            <h3>Edit General Information</h3>
        </a>
    </div>
</div>
@foreach (var list in Model)
{
    <div class="row">
        <div class="col-sm-3"><span class="event-item item-dark event-list-header">@Convert.ToString(list.Date)</span></div>
    </div>
    <div class="event-list-body">
        @if (list.HearList.Any())
        {
            foreach (var item in list.HearList)
            {
                <div class="row">
                    <div class="col-sm-3"><span class="event-item item-dark">@Convert.ToString(item.StartDate.ToShortTimeString()) - @Convert.ToString(item.EndDate.ToShortTimeString())</span></div>
                    <div class="col-sm-5"><span class="event-item item-light">@Html.DisplayFor(modelItem => item.Location.Address)</span></div>
                    <div class="col-sm-3"><span class="event-item item-light">@Html.DisplayFor(modelItem => item.CartTitle)</span></div>
                    <div class="col-sm-1"><span class="event-item item-light">@Html.ActionLink("Edit", "EditHear", new { id = item.ID })</span></div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="col-sm-3"><span class="event-item item-dark"></span></div>
                <div class="col-sm-9"><span class="event-item item-light">No events found</span></div>
            </div>
        }
    </div>
}