<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Haarlem Festival Administration Panel</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/Admin.css")
    @Styles.Render("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="container">
    @Html.ActionLink("Haarlem Festival", "Index", "Admin", new {area = ""}, new {@class = "brand"})
    <span class="float-right">Logged in as Daniël<br/><a href="#">Log out</a></span>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            @Html.MvcSiteMap().SiteMapPath()
        </ol>
    </nav>
</div>
<div class="container">
    <div class="row menu-admin">
        <div class="col-sm">
            <a class="btn menu-admin-btn taste @(ViewContext.RouteData.Values["action"].ToString() == "Taste" ? "menu-admin-btn-current" : "")"
               href="@Url.Action("Taste", "Admin")">
                <h1>Taste</h1>
                <h4>Dinner in Haarlem</h4>
            </a>
        </div>
        <div class="col-sm">
            <a class="btn menu-admin-btn hear @(ViewContext.RouteData.Values["action"].ToString() == "Hear" ? "menu-admin-btn-current" : "")"
               href="@Url.Action("Hear", "Admin")">
                <h1>Hear</h1>
                <h4>Jazz@Patronaat</h4>
            </a>
        </div>
		<div class="w-100 d-lg-block d-xl-none"></div> <!-- Dit zorgt ervoor dat het menu bij kleinere schermen netjes in tweeën wordt gedeeld -->
        <div class="col-sm">
            <a class="btn menu-admin-btn see @(ViewContext.RouteData.Values["action"].ToString() == "See" ? "menu-admin-btn-current" : "")"
               href="@Url.Action("See", "Admin")">
                <h1>See</h1>
                <h4>Historic Haarlem</h4>
            </a>
        </div>
        <div class="col-sm">
            <a class="btn menu-admin-btn talk @(ViewContext.RouteData.Values["action"].ToString() == "Talk" ? "menu-admin-btn-current" : "")"
               href="@Url.Action("Talk", "Admin")">
                <h1>Talk</h1>
                <h4>Talking Haarlem</h4>
            </a>
        </div>
    </div>
    @RenderBody()
    <footer>
        <p>&copy; 2017 - Haarlem Festival B4</p>
    </footer>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
