<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title Haarlem festival Application</title>
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}\" integrity=\"sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb\" crossorigin=\"anonymous\" async>", "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}\" async>", "~/Content/Site.css")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")"><h1 style="color: red;">Hf</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item taste">
                        <a class="nav-link" href="@Url.Action("Index", "Taste")"><img src="/content/images/btn-taste.png" alt="Taste" /></a>
                    </li>
                    <li class="nav-item hear">
                        <a class="nav-link" href="@Url.Action("Index", "Hear")"><img src="/content/images/btn-hear.png" alt="Hear" /></a>
                    </li>
                    <li class="nav-item see">
                        <a class="nav-link" href="@Url.Action("Index", "See")"><img src="/content/images/btn-see.png" alt="See" /></a>
                    </li>
                    <li class="nav-item talk">
                        <a class="nav-link" href="@Url.Action("Index", "Talks")"><img src="/content/images/btn-talk.png" alt="Talk" /></a>
                    </li>
                    <li class="text-center" style="margin-left:5px;">

                        @if (Session["UserId"] == null)
                        {
                            <div>
                                <h6>Hey Guest!</h6>
                                <a class="nav-link" href="@Url.Action("Login", "User")">Log In Here</a>
                            </div>
                        }

                        else
                        {
                            <h6 style="float:left">Hello @Session["Name"].ToString()!</h6>
                        }
                    </li>
                </ul>

                <div class="navrightbar">
                    <a href="@Url.Action("Index", "Admin")"><img class="profileicon" src="~/Content/images/profile.png" /></a>

                    <a href="#Cartbasket1" data-toggle="overlay"><img class="profileicon" src="~/Content/images/cart.png" /></a>


                    @*cart*@

                    <div id="Cartbasket1" class="overlay">
                        <a class="close" href="#">&times;</a>
                        <h2 class="text-xl-center" style="color:white"><strong>Your Cart!</strong></h2>
                        <div id="Cartbasket-inner-style">
                            <div id="Cartbasket-inner">

                                @if (Session["CurrentWishlist"] != null)
                                {
                                    HF_Application.Models.ViewModel.CartModel cart = new HF_Application.Models.ViewModel.CartModel();
                                    //   List<HF_Application.Models.OrderItem> list = new List<HF_Application.Models.OrderItem>();
                                    cart = Session["CurrentWishlist"] as HF_Application.Models.ViewModel.CartModel;
                                    <div class="panel panel-default">
                                        <table id="cartTable" class="table" style="color:black">
                                            <thead>
                                                <tr>
                                                    <th>Quantity</th>
                                                    <th>Event</th>
                                                    <th class="text-right">Price</th>
                                                    <th class="text-right">Subtotal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in cart.AllOrderitems)
                                                {
                                                    <tr>
                                                        <td class="text-center">@item.Aantal</td>

                                                        <td>@item.Item.CartTitle</td>

                                                        <td class="text-right">
                                                            @item.Prijs.ToString("c")
                                                        </td>
                                                        <td class="text-right">
                                                            @((item.Aantal * item.Prijs).ToString("c"))
                                                        </td>

                                                    </tr>
                                                  
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="3" class="text-right">Total:</td>
                                                    <td class="text-right">
                                                       @cart.totaal Euro
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                }

                            </div>
                        </div>


                        <div class="text-center">
                            <a class="btn btn-info login" href="@Url.Action("Index", "Cart")">Go to your Cart</a>
                            <a class="btn btn-info login" href="@Url.Action("ClearCart", "Cart")">Clear Your Cart</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - www.haarlemfestivals.nl all rights reserved</p>
        </footer>
    </div>
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" integrity=\"sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN\" crossorigin=\"anonymous\"></script>", "https://code.jquery.com/jquery-3.2.1.slim.min.js")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" integrity=\"sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh\" crossorigin=\"anonymous\"></script>", "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" integrity=\"sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ\" crossorigin=\"anonymous\"></script>", "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>