
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item food"><img src="~/Content/images/TASTE.png" /></li>
                        <li class="nav-item hear"><img src="~/Content/images/HEAR.png" /></li>
                        <li class="nav-item see"><img src="~/Content/images/SEE.png" /></li>
                        <li class="nav-item talking"><img src="~/Content/images/TALK.png" /></li>
                    </ul>
                </div>
                <nav class="navbar navbar-light bg-faded">
                    <a class="navbar-brand" href="#">
                        <img src="~/Content/images/home.png" width="60" height="60" alt="">
                    </a>
                    <a class="navbar-brand" href="#">
                        <img src="~/Content/images/profile.png" width="60" height="60" alt="">
                    </a>
                </nav>
        </div>
        </div>
    </nav>
    <div class="containerbody-content">
>>>>>>> 4331ed5c391f34f573b1fc34a95b5466253310bb
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Haarlemfestival.nl all rights reserverd</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>