@model HF_Application.Models.ViewModel.CartModel

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Session["CurrentWishlist"] == null)
{

    <div class="col-md-8 offset-md-2 col-12 welcomediv">
        <h1 class="text-center">Your Cart</h1>


        <div class="text-center">
            <h4>Your Cart is empty!</h4>

            <a class="btn btn-info login" href="@Url.Action("Index","Home")">Go To The Home page</a>
        </div>

    </div>
}

else
{
    <div class="col-md-8 offset-md-2 col-12 welcomediv">
        <h1 class="text-center">Your Cart</h1>

    </div>

    HF_Application.Models.ViewModel.CartModel cart = new HF_Application.Models.ViewModel.CartModel();
    cart = Session["CurrentWishlist"] as HF_Application.Models.ViewModel.CartModel;

    <div class="panel panel-default">
        <table id="cartTable" class="table" style="color:black">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Item</th>
                    <th>Date</th>
                    <th>Details</th>
                    <th>Comment</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Subtotal</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in cart.AllOrderitems)
                {

                    int totaalitem = (item.Prijs * item.Aantal);
                    int totaal = +totaalitem;
                    <tr>
                        <td class="text-center">@item.Aantal</td>
                        <td class="text-left">@item.Item.CartTitle</td>
                        <td>@item.Item.StartDate</td>
                        <td>@item.Item.CartDescription</td>
                        <td>@item.Opmerking</td>
                        <td class="text-right">
                            @item.Prijs.ToString() euro
                        </td>
                        <td class="text-right">
                            @((item.Aantal * item.Prijs).ToString()) euro
                        </td>
                        <td>
                            @Html.ActionLink("Delete Item", "DeleteItem", new { id = @item.ItemId }, new { @class = "btn btn-info login" })
                        </td>
                    </tr>

                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">

                        @cart.totaal euro!;

                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center">
            <a class="btn btn-info login" href="@Url.Action("Index","Home")">Continue shopping</a>

            <a class="btn btn-info login" href="@Url.Action("Afrekenen","Cart")">Checkout now</a>
        </div>
    </div>

}
