@model HF_Application.Models.ViewModel.CartModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Session["CurrentWishlist"] == null)
{
    
    <h2>Your cart</h2>


    <h2>Your cart is empty !!!!!!!</h2>
}

else
{
    HF_Application.Models.ViewModel.CartModel cart = new HF_Application.Models.ViewModel.CartModel();
    cart = Session["CurrentWishlist"] as HF_Application.Models.ViewModel.CartModel;

    <h2>Your cart</h2>
    <table id="cartTable" class="table">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Item</th>
                <th>Event</th>
                <th>Question</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in cart.AllOrderitems)
            {
                <tr>
                    <td class="text-center">@item.Aantal</td>
                    <td class="text-left">@item.Item.CartTitle</td>
                    <td>@item.Item.CartDescription</td>
                    <td>@item.Opmerking</td>
                    <td class="text-right">
                        @item.Prijs.ToString("c")
                    </td>
                    <td class="text-right">
                        @((item.Aantal * item.Prijs).ToString("c"))
                    </td>
                    <td>
                        @Html.ActionLink("Delete Item", "DeleteItem", new { id = @item.ItemId }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    0:00 euro
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" href="@Url.Action("Index","Home")">Continue shopping</a>

        <a class="btn btn-primary" href="@Url.Action("PlaceOrder","Cart")">Checkout now</a>
    </div>

}